body {
    background-color: #f0eef1;
}

h1 {
    display: flex;
    justify-content: center;
}

#book-list {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
grid-gap: 1rem;
padding: 1rem;
}

.book-card {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
line-height: 2rem;
padding: 10px;
background-color: white;
border: 1px solid #ccc;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
min-height: 15rem;
min-width: 17.5rem;
}

.book-card img {
max-width: 100%;
height: auto;
margin-bottom: 10px;
}

.book-card h2 {
font-size: 1.2rem;
margin: 0;
text-align: center;
}

.book-card p {
font-size: 1rem;
margin: 0;
text-align: center;
}

.book-card .pages {
  font-style: italic;
}

/* The Modal (background) */
.modal {
display: none; 
position: fixed; 
z-index: 1; 
left: 0;
top: 0;
width: 100%; 
height: 100%; 
overflow: auto; 
background-color: rgb(0,0,0); 
background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content {
background-color: #fefefe;
margin: 15% auto; 
padding: 20px;
border: 1px solid #888;
width: 80%; 
}

/* The Close Button */
.close {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}
  

@media only screen and (min-width: 600px) {
  .card {
    
  }

  .card:nth-child(2n+2) {
    margin-right: 0;
  }

  #book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}